body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.color{
    color: #fba24fee;
}
h1{
    font-size: 40px;
}
.flexible-container{
    display: flex;
    margin-bottom: 7%;
}
.half-width{
    width: 40%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
    padding-right:10% ;
}
.about-me{
    width: 35%;
    padding-top: 7%;
    margin-left: 15%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
}
.banner{
    background-image: url(images/shapes/7.png);
}
.text-align{
    text-align: center;
    color: gray;
}
.recipie-item{
    width: 30%;
    text-align: center;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
}
.img{
    width: 90%;
    padding: 5%;
}
.display{
    display: inline-flex;
    border-radius: 10px;
    margin-left: 25px;
    margin-bottom: 20px;
    width: 96.5%;
    box-shadow:10px 10px 20px gray ;
}
#youtube-width{
    margin-left: 10%;
}
#Instagram-width{
    margin-left: 20% ;
}
#like-width{
    margin-left: 25%;
}
footer{
    background-color: black;
}
.white{
    color: gray;
}